@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, rem, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, rembed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-size: 1rem;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35rem 0.625rem 0.75rem;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  zoom: 1;
}

a {
  text-decoration: none;
  color: black;
}

html or element selector {
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media only screen and (min-resolution: 120dpi) {
  body {
    zoom: 0.8;
  }
}
@media only screen and (min-resolution: 125dpi) {
  body {
    zoom: 0.7;
  }
}
html, body, [canvas=container], [off-canvas] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #333;
  line-height: 175%;
}

a, button, input, select, textarea {
  transition: all 0.5s ease-in-out;
}

button.openNav {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  color: #f90;
}
a:hover {
  color: #f60;
}
a:active {
  color: #a00;
}

button {
  background: #fff;
}
input {
  background: #fff;
}
select {
  background: #fff;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
}
textarea {
  background: #fff;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

[canvas] {
  z-index: 1;
}

[canvas=container] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

[canvas=container]:before,
[canvas=container]:after {
  clear: both;
  content: "";
  display: table;
}

[off-canvas] {
  display: none;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

[off-canvas*=top] {
  width: 100%;
  height: 255px;
  top: 0;
}

[off-canvas*=right] {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}

[off-canvas*=bottom] {
  width: 100%;
  height: 255px;
  bottom: 0;
}

[off-canvas*=left] {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

[off-canvas*=reveal] {
  z-index: 0;
}

[off-canvas*=push] {
  z-index: 1;
}

[off-canvas*=overlay] {
  z-index: 9999;
}

[off-canvas*=shift] {
  z-index: 0;
}

[canvas], [off-canvas] {
  transform: translate(0px, 0px);
  transition: transform 300ms;
  -webkit-backface-visibility: hidden;
}

[off-canvas*=shift][off-canvas*=top] {
  transform: translate(0px, 50%);
}

[off-canvas*=shift][off-canvas*=right] {
  transform: translate(-50%, 0px);
}

[off-canvas*=shift][off-canvas*=bottom] {
  transform: translate(0px, -50%);
}

[off-canvas*=shift][off-canvas*=left] {
  transform: translate(50%, 0px);
}

.material-icons,
.material-icons-outlined,
.material-icons-sharp,
.material-icons-two-tone,
.material-icons-round {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

div.goTop {
  transform: translateX(0);
  transition: transform 0.2s;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 9999;
}
div.goTop.hide {
  transform: translateX(200%);
}
div.goTop a.goTop {
  background: rgba(0, 0, 0, 0.5647058824);
  border: none;
  cursor: pointer;
}

h2.page_title {
  font-size: 6rem;
  font-weight: 100;
  color: #999;
  text-align: center;
  text-transform: uppercase;
  line-height: 150%;
  margin-bottom: 45px;
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  h2.page_title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 575.98px) {
  h2.page_title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 575.98px) {
  h2.page_title {
    font-size: 3rem;
  }
}

h3.unit_title {
  font-size: 3.5rem;
  font-weight: 100;
  color: #333;
  text-align: center;
  line-height: 150%;
  margin-top: 75px;
  margin-bottom: 75px;
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  h3.unit_title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 575.98px) {
  h3.unit_title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 575.98px) {
  h3.unit_title {
    font-size: 2rem;
  }
}

a:focus {
  outline-width: 3px;
  outline-color: #f60;
  outline-style: dashed;
}

section.guide {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 75px;
  padding-left: 15px;
  padding-right: 15px;
}
section.guide dl.jump {
  background: rgba(0, 0, 0, 0.4666666667);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 7.5px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  position: fixed;
  top: 35vh;
  right: 0;
  z-index: 9999;
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  section.guide dl.jump {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    background: none;
    border: none;
    justify-content: center !important;
    margin-bottom: 22.5px;
    position: initial;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) and (max-width: 575.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) and (min-width: 576px) and (max-width: 767.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) and (max-width: 575.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) {
  section.guide dl.jump {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    background: none;
    border: none;
    justify-content: center !important;
    margin-bottom: 22.5px;
    position: initial;
  }
}
@media screen and (max-width: 575.98px) and (max-width: 575.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) and (min-width: 576px) and (max-width: 767.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) and (max-width: 575.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) {
  section.guide dl.jump {
    background: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center !important;
    margin-bottom: 22.5px;
    position: initial;
  }
}
@media screen and (max-width: 575.98px) and (max-width: 575.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) and (min-width: 576px) and (max-width: 767.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) and (max-width: 575.98px) {
  section.guide dl.jump {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.guide dl.jump dt, section.guide dl.jump dd {
  font-weight: 400;
  text-align: right;
}
section.guide dl.jump dd {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
section.guide dl.jump dd:last-of-type {
  border: none;
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  section.guide dl.jump dd {
    padding-left: 15px;
    padding-right: 15px;
  }
  section.guide dl.jump dd::after {
    content: "|";
    border-bottom: none;
    top: 0;
    right: 0;
    padding-left: 30px;
  }
  section.guide dl.jump dd:last-of-type::after {
    content: none;
  }
}
@media screen and (max-width: 575.98px) {
  section.guide dl.jump dd {
    padding-left: 15px;
    padding-right: 15px;
  }
  section.guide dl.jump dd::after {
    content: "|";
    border-bottom: none;
    top: 0;
    right: 0;
    padding-left: 30px;
  }
  section.guide dl.jump dd:last-of-type::after {
    content: none;
  }
}
@media screen and (max-width: 575.98px) {
  section.guide dl.jump dd {
    padding-left: 15px;
    padding-right: 15px;
  }
  section.guide dl.jump dd::after {
    content: "|";
    border-bottom: none;
    top: 0;
    right: 0;
    padding-left: 30px;
  }
  section.guide dl.jump dd:last-of-type::after {
    content: none;
  }
}
section.guide div.note {
  background: #eee;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 15px;
}

@media screen and (min-width: 992px) {
  nav.desktop {
    display: block;
  }
  nav.mobile {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: block;
  }
}
body {
  font-size: 1rem;
}

header {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
header div.navbar {
  align-items: center !important;
  justify-content: space-between !important;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
header div.navbar div.logo {
  width: auto;
}
header div.navbar div.logo img {
  width: 225px;
}
@media screen and (max-width: 575.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media screen and (max-width: 575.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media screen and (max-width: 575.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media screen and (max-width: 575.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media (min-width: 1200px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
@media screen and (max-width: 575.98px) {
  header div.navbar div.logo img {
    width: 225px;
  }
}
header div.navbar div.logo {
  text-align: center;
  margin-bottom: 45px;
}
header div.navbar nav.desktop {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}
header div.navbar nav.desktop ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 575.98px) {
  header div.navbar nav.desktop ul {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  header div.navbar nav.desktop ul {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) {
  header div.navbar nav.desktop ul {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header div.navbar nav.desktop ul {
  align-items: center !important;
  justify-content: center !important;
}
header div.navbar nav.desktop ul li {
  font-size: 1.25rem;
}
header div.navbar nav.desktop ul li a {
  color: #333;
}
header div.navbar nav.desktop ul li a:hover {
  color: #f90;
}
header div.navbar nav.desktop ul li a:focus {
  color: #000;
}
header div.navbar nav.desktop ul li::after {
  content: "|";
  padding-left: 15px;
  padding-right: 15px;
}
header div.navbar nav.desktop ul li:last-of-type::after {
  content: none;
}
header div.navbar nav.mobile div.navOpen button.navOpen {
  background: none;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
header div.navbar nav.mobile div.navOpen button.navOpen img {
  width: 2rem;
  height: 2rem;
}
header div.navbar nav.mobile div[off-canvas] {
  width: 100%;
  background: rgba(255, 255, 255, 0.8666666667);
}
header div.navbar nav.mobile div[off-canvas] button.navClose {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
header div.navbar nav.mobile div[off-canvas] button.navClose img {
  width: 2rem;
  height: 2rem;
}
header div.navbar nav.mobile div[off-canvas] ul.nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 575.98px) {
  header div.navbar nav.mobile div[off-canvas] ul.nav {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  header div.navbar nav.mobile div[off-canvas] ul.nav {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) {
  header div.navbar nav.mobile div[off-canvas] ul.nav {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header div.navbar nav.mobile div[off-canvas] ul.nav {
  margin-top: 75px;
}
header div.navbar nav.mobile div[off-canvas] ul.nav li {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
header div.navbar nav.mobile div[off-canvas] ul.nav li a {
  color: #333;
}
header div.navbar nav.mobile div[off-canvas] ul.nav li a:hover {
  color: #f90;
}
header div.navbar nav.mobile div[off-canvas] ul.nav li a:focus {
  color: #000;
}
header div.navbar nav.mobile div[off-canvas] ul.nav li {
  font-size: 1.85rem;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
@media screen and (max-width: 575.98px) {
  header div.navbar nav.mobile div[off-canvas] ul.nav li {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}

main {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

footer div.copyright {
  background: #000;
  font-family: Raleway, Noto Sans TC, sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.goTop a.goTop {
  background: none;
}
div.goTop a.goTop img {
  height: 50px;
}

div.test {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 575.98px) {
  div.test {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  div.test {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 575.98px) {
  div.test {
    margin-left: 0px;
    margin-right: 0px;
  }
}
div.test div.test_col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}/*# sourceMappingURL=test.css.map */