// Orange's web template icons v2.0
// Meterial Symbols (new)
// icon google material icons
// ex:
// html : <element class="class"><span></span> or <i></i></element>
// sass : element.class
// 					+google_icons(nav)
=google_icons($Icons: 1, $IconStyle: 1)
	text-decoration: none
	// 基礎 span or i 都可以
	span, i
		width: fit-content
		border: none
		+radius(.5)
		+tac
		+transition
		position: relative
		// icon 位置顏色大小
		&::before, &::after
			font:
				size: $baseFont * 1
				weight: normal
				style: normal
			color: map-get($icons_text, base)
			line-height: 100%
			word-wrap: normal
			white-space: nowrap
			direction: ltr
			// Support for all WebKit browsers.
			-webkit-font-smoothing: antialiased
			// Support for Safari and Chrome.
			text-rendering: optimizeLegibility
			// Support for Firefox.
			-moz-osx-font-smoothing: grayscale
			// Support for IE.
			font-feature-settings: 'liga'
			display: inline-block
		// hover
		&:hover
			color: map-get($icons_text, hover)
		// icon font-family icon 樣式設定
		@if $IconStyle null == ture
			font-family: 'Material Icons Sharp',
		@if $IconStyle == round
			font-family: 'Material Icons Round',
		@if $IconStyle == outlined
			font-family: 'Material Icons Outlined',
		// icon 常用預設
		@if $Icons == "home"
			&::before
				content: "\e88a"
		@if $Icons == "menu"
			&::before
				content: "\e5d2"
		@if $Icons == "close"
			&::before
				content: "\e5cd"
		@if $Icons == "close"
			&::before
				content: "\e5cd"

		// Arrow
		@if $Icons == "expand_more"
			&::before
				content: "\e5cf"
		@if $Icons == "expand_less"
			&::before
				content: "\e5ce"
		@if $Icons == "chevron_left"
			&::before
				content: "\e5cb"
		@if $Icons == "chevron_right"
			&::before
				content: "\e5cc"
		@if $Icons == "navigate_before"
			&::before
				content: "\e408"
		@if $Icons == "navigate_next"
			&::before
				content: "\e409"
		@if $Icons == "arrow_forward_ios"
			&::before
				content: "\e5e1"
		@if $Icons == "arrow_back_ios"
			&::before
				content: "\e5e0"
		@if $Icons == "arrow_left_alt"
			&::before
				content: "\ef7d"
		@if $Icons == "arrow_right_alt"
			&::before
				content: "\e941"
		@if $Icons == "keyboard_arrow_up"
			&::before
				content: "\e316"
		@if $Icons == "keyboard_arrow_right"
			&::before
				content: "\e315"
		@if $Icons == "keyboard_arrow_down"
			&::before
				content: "\e313"
		@if $Icons == "keyboard_arrow_left"
			&::before
				content: "\e314"
			@if $Icons == "keyboard_double_arrow_up"
			&::before
				content: "\eacf"
		@if $Icons == "keyboard_double_arrow_right"
			&::before
				content: "\eac9"
		@if $Icons == "keyboard_double_arrow_down"
			&::before
				content: "\ead0"
		@if $Icons == "keyboard_double_arrow_left"
			&::before
				content: "\eac3"

		// Math
		@if $Icons == "expand_more"
			&::before
				content: "\e5cf"